.card-content-body {
    display: grid;
    grid-template-columns: 6fr 6fr;
    grid-template-rows: auto;
    gap: 0 3vh;
    grid-template-areas:
        "overview episodes";
}

.card-content-body > .season-overview {
    grid-area: overview;
}

.card-content-body > .season-overview p {
    text-align: justify;
}

.card-content-body > .season-episodes {
    grid-area: episodes;
}

.card-content-body > .season-episodes table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #564d4d;
}

.card-content-body > .season-episodes tbody {
    padding: 5vh 0 5vh 0;
}