.card-content-body {
    display: grid;
}

.card-content-body > .season-overview {
    grid-area: overview;
}

.card-content-body > .season-overview p {
    text-align: justify;
}

.card-content-body > .season-episodes {
    grid-area: episodes;
    align-self: center;
}

.card-content-body > .season-episodes table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #564d4d;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 599px) {
    .card {
        margin-top: 2vh;
    }

    .card-content-body {
        gap: 3vh 0;
        grid-template-areas:
            "overview"
            "episodes";
    }
}

/* tablet portrait and up */
@media (min-width: 600px) {
    .card {
        margin-top: 4vh;
    }

    .card-content-body {
        grid-template-columns: 6fr 6fr;
        grid-template-rows: auto;
        gap: 0 3vh;
    }

    .poster-left > .card-content-body {
        grid-template-areas:
            "overview episodes";
    }

    .poster-right > .card-content-body {
        grid-template-areas:
            "episodes overview";
    }
}