.card {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    gap: .5vh 0;
    grid-template-areas:
            "header"
            "content";
}

.card > .card-header {
    grid-area: header;
    align-self: center;
    background-color: #831010;
    color: #ffffff;
    border-radius: 1vh 1vh 0 0;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
}

.card > .card-content {
    grid-area: content;
    background-color: #c9c9c9;
    border-radius: 0 0 1vh 1vh;
    color: #000;
    display: grid;
    grid-template-rows: auto;
}

.card-header > .card-header-title {
    grid-area: title;
}

.card-header > .card-header-subtitle {
    grid-area: subtitle;
    align-self: center;
}

.card-content > .card-content-poster {
    grid-area: poster;
}

.card-content > .card-content-poster img {
    max-width: 100%;
    height: auto;
}

.card-content > .card-content-body {
    grid-area: body;
}

/* phone only */
@media screen and (max-width: 599px) {
    .card > .card-header {
        grid-template-areas:
            "title"
            "subtitle";
    }

    .card-header > .card-header-title {
        justify-self: center;
    }

    .card-header > .card-header-subtitle {
        justify-self: center;
        padding-bottom: 2vh;
    }

    .card > .poster-left, .poster-right {
        padding: 2vh;
        grid-template-areas:
            "poster"
            "body";
    }

    .card-header > .card-header-subtitle {
        justify-self: center;
    }
}

/* tablet portrait and up */
@media (min-width: 600px) {
    .card > .card-header {
        padding-left: 5vh;
        grid-template-areas:
            "title subtitle";
    }

    .card > .card-content {
        gap: 0 3vh;
        padding: 4vh;
    }

    .card-header > .card-header-subtitle {
        padding-right: 5vh;
    }
    
    .card > .poster-left {
        grid-template-columns: 2fr 10fr;
        grid-template-areas:
            "poster body";
    }
    
    .card > .poster-right {
        grid-template-columns: 10fr 2fr;
        grid-template-areas:
            "body poster";
    }
    
    .card-header > .card-header-subtitle {
        justify-self: end;
        padding-right: 4vh;
    }
}
